<script setup lang="ts">
const input = ref("");
const { todos, addTodo, updateTodo, deleteTodo } = useTodos();

const handleClick = () => {
  addTodo(input.value);
  input.value = "";
};
</script>

<template>
  <div class="p-8 my-0 mx-auto max-w-1/2">
    <NCard class="p-8">
      <h1>My Todos</h1>
      <div class="flex justify-between">
        <input class="outline-none" placeholder="Add a new todo..." v-model="input" />
        <NButton @click="handleClick">Add</NButton>
      </div>
      <NCard
        @click.native="() => updateTodo(todo.id)"
        class="p-2 mt-4 cursor-pointer flex justify-between"
        v-for="todo in todos"
        :key="todo.id"
      >
        <h4 :class="todo.completed ? 'line-through' : null">{{ todo.item }}</h4>
        <p @click.stop="() => deleteTodo(todo.id)">x</p>
      </NCard>
    </NCard>
  </div>
</template>